{%extends './base.html'%}
{%load static%}
{%block title%}
{%endblock%}

{%block content%}
<div class="bg-alu-main px-8">

    <!--a grid for summary and dad jokes and further use-->
    <div class="inline-grid grid-cols-2 mt-16 gap-12">

            <!--a brief summary of data-->
    <a href='#' class="grid bg-alu-three border-2 h-80 text-center rounded-lg hover:animate-pulse">
        <img src="{% static '/images/coffee100.png' %}" class="justify-self-center pt-6" alt="coffeeLogo"></img>
        <p class="text-xl text-semibold text-alu-btn">Getting tired? Here's a dad joke:</br>{{r}}</p>
    </a>

    <a href='/notes' class="grid bg-alu-three border-2 h-80 text-center rounded-lg hover:animate-pulse">
        <img src="{% static '/images/checklist100.png' %}" class="justify-self-center pt-6" alt="checklistLogo"></img>
        {%if request.user.is_authenticated %}
            {% if sum == 0 %}
                <p class="text-3xl text-semibold text-alu-btn px-4">No notes founded yet, click here to start.</p>
            {%else%}
                <p class="text-3xl text-semibold text-alu-btn px-4">These days you have completed {{fin}} tasks and {{unfin}} to go.</p>   
            {%endif%}
        {%else%}
        <p class="text-3xl text-semibold text-alu-btn px-4">Please log in to create your list.</p>
        {%endif%}
    </a>

    <a href="{%url 'roomlist'%}" class="grid bg-alu-three border-2 h-80 text-center rounded-lg hover:animate-pulse">
        <img src="{% static '/images/team100.png' %}" class="justify-self-center pt-6" alt="teamLogo"></img>
        <p class="text-3xl text-bold text-alu-btn px-4">Join a room, team work makes the dream work!</p>
    </a>

    <a href='/notes' class="grid bg-alu-three border-2 h-80 text-center rounded-lg hover:animate-pulse">
        <img src="{% static '/images/list.png' %}" width="100" height="100" class="justify-self-center pt-6" alt="listLogo"></img>
        <p class="text-3xl text-semibold text-alu-btn px-4">Seperate your tasks to divide and conquer.</p>
    </a>
    

    </div>

</div>

{%endblock%}