{%extends './base.html'%}
{%load static%}
{%block title%}
{%endblock%}

{%block content%}
<div class="bg-alu-main px-4">
<!--showing a grid of all notes-->
<div class="grid grid-cols-3 px-8 py-8 gap-6 bg-yellow-50 ">
{%for note in notes%}
    {%if note.complete == True%}
    <a href="{%url 'notedetail' note.id%}" class="text-center rounded-xl hover:animate-pulse bg-alu-red">
    {%else%}
    <a href="{%url 'notedetail' note.id%}" class="text-center rounded-xl hover:bg-alu-btn bg-alu-netural ease-in duration-300">
    {%endif%}
    <p class="text-3xl text-semibold text-yellow-500 mt-4 mb-4">{{note.name}}</p>
    <p class="text-xl text-red-300 mt-4 mb-4 px-2 whitespace-normal">* {{note.detail}}</p>
    <p class="text-end text-xl text-red-500 p-2">Priority: {{note.priority}}</p>
    </a>
{%endfor%}
</div>

<!--buttons to CRUD-->
<div class="fixed bottom-4 lg:w-3/4 md:w1-/2 right-4">
    <a href='/newnote' class="flex float-right bg-alu-three items-center rounded-2xl py-2 px-4 shadow-md hover:animate-pulse">
        <img src="{% static '/images/add100.png' %}" width="56" height="56" class="justify-self-center " alt="addBtn"></img>
        <h1 class="text-2xl text-alu-btn p-2">New</h1>
    </a>
</div>

</div>
{%endblock%}